*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;


}
img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: blue;
     
}
.card:hover{
    transform: scale(1.05);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px rgb(104, 104, 109));
}
img:hover{
    filter: grayscale(0%);
}
figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    opacity: 0;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%,rgba(255, 255, 255, 0) 100%);

    width: 100%;
    transition: 0.3s;


}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.05);
    transition: 0.5s;
}